/* styles.css */

/* Reset some default styles */
body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    padding: 20px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
}

form {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    /* Capitalize all words in the symptom */
    text-transform: capitalize;
}

select {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 10px;
    padding: 15px 40px; /* Increase padding to make the button wider */
    font-size: 18px; /* Increase font size to make the button text bigger */
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50px; /* Set border-radius to create an oval shape */
    cursor: pointer;
}

#recommendations {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Optional: Style the recommended exercises list */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.custom-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
}

.custom-alert p {
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px or smaller */
    h1 {
        font-size: 24px;
    }

    button {
        padding: 12px 30px;
        font-size: 16px;
    }

    #recommendations {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    /* Adjust styles for screens with a maximum width of 480px or smaller */
    select {
        height: 150px;
    }

    button {
        padding: 10px 25px;
        font-size: 14px;
    }

    .custom-alert {
        padding: 8px;
    }
}
